<form style="margin-top: 3rem;">
    <div class="row center-align" style="max-width: 66%;">
        {{ range .options }}
        {{ if .Visible }}
        <div class="col s2">
            <div class="row left-align">
                <label>
                    <input
                        name="votes"
                        type="radio"
                        onchange="vote({{ .Value }})"
                        {{ if .HasShortcut }}
                        accesskey="{{ .Shortcut }}"
                        {{ end }}
                        {{ .IsChecked $.user $.room}} />
                    <span>
                        {{ if .HasIcon }}
                        <i class="material-icons" style="font-size: 16px;">{{ .Icon }}</i>
                        {{ else }}
                        {{ .Text }}
                        {{ end }}
                    </span>
                </label>
            </div>
        </div>
        {{ end }}
        {{ end }}
    </div>
</form>
